<h1>
  <fa-icon [icon]="this.faGasPump"></fa-icon> Fuel Monitoring
</h1>

<div class="div-price">

  <mat-card class="card-price" id="fuel-SP95">
    <mat-card-header>
      <div mat-card-avatar><img src="assets/stickers_E5_SP95.PNG"></div>
      <mat-card-title>SP95</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="card-price" id="fuel-SP98">
    <mat-card-header class="fuel-SP98">
      <div mat-card-avatar><img src="assets/stickers_E10_SP98.PNG"></div>
      <mat-card-title>SP98</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="card-price" id="fuel-gazole">
    <mat-card-header class="fuel-gazole">
      <div mat-card-avatar><img src="assets/stickers_B7_gazole.PNG"></div>
      <mat-card-title>Gazole</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original
      </p>
    </mat-card-content>

  </mat-card>
</div>
