header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #CBB9A8;
}

header h1{
    font-size: 4em;
    font-weight: bold;
}

header fa-icon{
  font-size: 50px;
}


fa-icon{
    display: inline-block; //Pour afficher les icones correctement.
}

ng-lottie{
  width: 100px;
}

.statsHeader{
  display: flex;
}
.statsHeader h1{
  font-size: 2.5em;
}

.stats{
  background-color: #CBB9A8;
  display: flex;
  align-items: center;
  flex-direction: column; 
  padding-bottom: 10px;
}   

.charts{
  margin-top: 30px;
}

//L'ensemble des cards
.cardDisplay{
  display: flex;
  gap: 5%;
  margin-top: 35px;
}

//Une card
.card {
    width: 180px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .card-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }

  .card-text{
    font-size: 1em;
  }

  @media screen and (max-width: 800px) {
    header h1{
      font-size: 3em;
      font-weight: bold;
    }

    ng-lottie{
      width: 75px;
    }
    
    header fa-icon{
      font-size: 45px;
    }

    .cardDisplay{
      flex-direction: row; 
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 10px;
    }

    .stats{
      height: auto;
      padding-bottom: 35px;
    }

  }

  @media screen and (max-width: 485px) {
    header h1{
      font-size: 2.2em;
      font-weight: bold;
    }

    header fa-icon{
      font-size: 35px;
    }

    .statsHeader h1{
      font-size: 1.5em;
      font-weight: bold;
    }

  }

  //Flèches indiquant une baisse ou une hausse des prix.
  .arrowDown{
    transform: rotate(45deg);
    color: green;
  }

  .arrowUp{
    transform: rotate(-45deg);
    color: red;
  }

  .up{
    color: red;
  }

  .down {
    color: green
  }